<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise1</title>
</head>
<body style="font-size: large">
<h2 style="font-style: italic"> /** Exercise 1 **/</h2>
<h3>The program will convert weight to pounds and height to inches and display them on a new page.</h3>

<div id="exercise1-before">
    <h3>The measures in metrics:</h3>
  <ul>
    <li>My name is <b><span th:text="${name}"></span></b></li>
    <li>My height in cm: <b><span th:text="${height}"></span></b></li>
    <li>My weight in kg: <b><span th:text="${weight}"></span></b></li>
  </ul>
</div>

<div id="exercise1-result">
    <h3>The measures imperials:</h3>
  <ul>
    <li>My name is <b><span th:text="${name}"></span></b></li>
    <li>My height in inches: <b><span th:text="${heightConverted}"></span></b></li>
    <li>My weight in lbs: <b><span th:text="${weightConverted}"></span></b></li>
  </ul>
</div>
</body>
</html>